@charset "UTF-8";

/*** 商品ページ ***/

#product_detail{
      top: 60px;
      position: relative;
      box-sizing: border-box;}

.product_wrap{
  height: 80%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px;
}

.img_cover{
  background-color: grey;
  margin: : 0px 20px;
}

.txt_cover{
  width: 30%;
  position: relative;
  display: grid;
  gap:0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly
}

.product_name{
  font-size: 1.8em;
}

.count{
  margin: 10px 0px;
}

.kosuu{padding-right: 148px;}
/* .sentaku{text-align: right;} */

.quantity{
  text-align: center;
}

.minus, .plus{
  width: 20px;
  height: 20px;
  border: none;
}

.minus:hover, .plus:hover{
  cursor: pointer;
}

.add_cart{
  border: none;
  color: #fff;
  font-size: 1.2em;
  background-color: #9acd32;
  padding: 15px 60px;
  cursor: pointer;
}

.add_like{
  color: #808080;
  border: solid #808080;
  font-size: 1.2em;
  background-color: #f5f5f5;
  padding: 5px 60px;
  cursor: pointer;
  vertical-align: bottom;
}

.add_like::before{
  content: " ";
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  width: 23px;
  height: 23px;
  background-image: url('./icon/Heart_White.svg');
  background-repeat: no-repeat;
}

.change::before{
  content: " ";
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  width: 23px;
  height: 23px;
  background-image: url('./icon/Heart_Black.svg');
  background-repeat: no-repeat;
}
