@charset "UTF-8";

a{
  text-decoration: none;
  color: #000000;
}

ul{list-style: none;}

*{
  margin: 0px;
  padding: 0px;
}

#header{
  position: fixed;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

nav{text-align: center;}

nav ul li{
  display: inline-block;
  width: 10%;
}

nav ul li::after{
  content:"/";
  padding-left: 50px;
}

nav ul li:last-child::after {
    content: ""; /* 最後のli要素の「/」をなくす */
}

.main_visual{
  height: 80vh;
  text-align: center;
  margin:8 0 8 0;
  background-color: #8FC31F;
  }

.concept{
  color: #ffffff;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .05em;
  padding: 250px 0px 0px 250px;
}

.main_contents{
  background-color: #C1DB81;
  margin-top: 100px;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 10px 50px 10px 50px;
}

.content_wrap{
  background-color: #ffffff;
  width: calc((100% - 100px) /3);
  height: auto;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.content_wrap:hover{
  opacity: 0.7;
  filter: brightness(110%);
  cursor: pointer;
}

.item_img{
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.item_img img{
  max-width: 95%;
  border-radius: 10px;
}

.item_name{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding-top: 5;
  letter-spacing: .05em;
}

.item_price{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
}
