@charset "UTF-8";

/*** カートページ ***/
#your_cart{
  margin-top: 100px;
}

.cart_title{
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
}

.cart_wrap,.cart_0{
  box-sizing: border-box;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.cart_item_img{
  height: 100px;
  width: auto;
  margin-right: 30px;
}
img{
  height: 100%;
  width:  100%;
}

.cart_content{
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}

.cart_goods{
  width: 300px;
}

.cart_total_money{
  width: 200px;
}
.cart_total_money p{
  padding: 6px;
}
.sentaku{
  margin-left: 50px;
}


.remove_item{
  border: none;
  color: #a9a9a9;
  font-size: 0.8em;
  background-color: #fff;
  padding: 5px 5px;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

#perchase_btn{
  box-sizing: border-box;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

#perchase_btn p{
  font-size: 1.2em;
  margin: 10px;
}

.perchase{
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
  padding: 10px 30px;
  background-color: #9acd32;
}

.back_top{
  box-sizing: border-box;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.modoru{
  font-size: 0.8em;
  cursor: pointer;
  text-align: center;
  padding: 10px 70px;
  border: solid 0.1em #a9a9a9;
  position: relative;
  top: 25px;
}
